.aside .article-map {
    height: 36rem;
    border-bottom: none;
}

.article-container {
    padding-top: 1.2rem;
}

.article-container .meta {

    font-size: 1.3rem;
    margin: 1.5rem auto;
}

.article-container .article-content {
    padding: 0 0 2rem 0;
}
.article-container .tags{

}
.article-container .tags a{
    margin-right: 1.2rem;
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: rgba(0, 0, 0, .7);
}

#article-toc-content {
    height: 36rem;
    overflow: auto;
    padding-left: 0
}

#article-toc-content li a {
    font-size: 1.3rem;
    color: #333333;
}

#article-toc-content li {
    margin: 0;
    padding:0.25rem 0;
    list-style:square inside;
}


.markdown-body a.reference-link {
    display: block;
    position: relative;
    top: -8rem;
    visibility: hidden;
}

.article-container .article-content .title {
    word-break: break-word !important;
    word-break: break-all;
    margin: 2rem 0 0;
    font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.comment {
    font-size: 1.6rem;
    padding-top: 3.5rem;
}

.comment form {
    padding-bottom: 3.6rem;
}

.comment h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem #e5e5e5 solid;
    margin-bottom: 5rem;
}

.comment-form textarea {
    height: 12rem;
    background-color: #fff;
    border: 0.1rem solid #e0e0e0;
}

.comment-btn {
    color: #00A4A0;
    border-color: #00A4A0;
    background-color: transparent;
}

.comment-item {
    padding: 3rem 0 2.6rem;
    border-bottom: #e8e8e8 solid 0.1rem;
}

.comment-avatar img {
    width: 6.5rem;
    margin-right: 1rem !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.flex-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.comment-info {
    position: relative;
}

.comment-title {
    font-size: 1.8rem;
}

.comment-time {
    font-size: 1.4rem;
    color: #b8b8b8;
    margin-top: 0.6rem;
}

.comment-desc {
    margin-top: 0.6rem;
    line-height: 1.5;
    font-size: 1.8rem;
}

.comment-like {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 0.4rem;
    color: #b8b8b8;
    cursor: pointer;
    height: 3.2rem;
    line-height: 3.2rem;
}

.comment-like span {
    font-size: 1.2rem;
    height: 2.8rem;
    line-height: 2.8rem;
}

.comment-like i {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    height: 2.8rem;
    line-height: 2.8rem;
}

.comment-like .active {
    color: #fb848d;
    cursor: default;
}

.comment-item-anime {
    -webkit-animation: comment-item-anime ease .5s;
    animation: comment-item-anime ease .5s
}

@-webkit-keyframes comment-item-anime {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes comment-item-anime {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}