.loading {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 10000;
}
/*进度条动画*/
.loading .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60px;
    height: 30px;
}
.loading .icon i {
    display: inline-block;
    width: 4px;
    height: 30px;
    margin: 0px 2px;
    background-color: #399;
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-animation: loading 0.8s infinite;
    animation: loading 0.8s infinite;
}
.loading .icon i:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.loading .icon i:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.loading .icon i:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loading .icon i:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.loading .icon i:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes loading {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}
@keyframes loading {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}